.notice-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0.55rem 0.25rem;
    border-bottom: 0.05rem solid #f5f5fa;
}

.notice-list .title {
    font-size: 0.625rem;
    color: #666;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice-list .time {
    font-size: 0.55rem;
    color: #999;
    position: absolute;
    right: 0.5rem;
}