.tabBar {
  position: fixed;
  bottom: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.2rem 0px 0.05rem;
  border-top: 0.05rem solid #e9e9ee;
  box-shadow: 0px -3px 8px #d9d9d9;
  li {
    flex: 1;
    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 0.5rem;
      color: #666;
      &.active {
        color: #3aa3f4;
      }
    }
    .icon {
      width: 1.2rem;
      height: 0.9rem;
      background-size: cover;
      margin-bottom: 0.1rem;
    }
    &:nth-child(1) {
      .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/0/b/f/c/5afc0282a97c8.png);
      }
      .active .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/1/d/4/e/5afc025dbfbc0.png);
      }
    }
    &:nth-child(2) {
      .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/8/2/4/c/5afc02896fd97.png);
      }
      .active .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/5/4/b/0/5afc026bcfe60.png);
      }
    }
    &:nth-child(3) {
      .icon {
        background-image: url(http://wx.wpart.cn/uploads/p/ppouwd1524119020/3/8/6/9/5b077e97cde71.png);
      }
      .active .icon {
        background-image: url(http://wx.wpart.cn/uploads/p/ppouwd1524119020/0/f/1/1/5b077e9f40b87.png);
      }
    }
    &:nth-child(4) {
      .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/c/1/b/c/5afc02910ccf6.png);
      }
      .active .icon {
        background-image: url(http://wx.wpart.cn/uploads/A/AdqA4tKfayQrboHu9Ava/2/d/f/7/5afc027a2dd7e.png);
      }
    }
  }
}

.tabBar-empty {
  height: 2.1rem;
}