.swiper-container {
    font-size: 0px;
}

.swiper-container img {
    width: 100%;
    border-radius: 0.4rem;
}

.navBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.navBar li {
    flex: 1;
    border-bottom: 0.1rem solid #f5f5fa;
}

.navBar li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.6rem;
    padding: 0.5rem 0px 0.4rem;
    background-color: white;

}

.navBar li.active {
    border-bottom: 0.1rem solid #2697fc;
}

.navBar li.active a {
    color: #2697fc;
}

.container {
    background-color: white;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    padding: 0.75rem 0px;
}

.nav li {
    flex: 1;
}

.nav li a {
    font-size: 0.5rem;
    text-align: center;
    border: 0.05rem solid #2697fc;
    padding: 0.25rem 0px;
    display: block;
}

.nav li:first-child a {
    -webkit-border-radius: 0.2rem 0px 0px 0.2rem;
    -moz-border-radius: 0.2rem 0px 0px 0.2rem;
    border-radius: 0.2rem 0px 0px 0.2rem;
    border-right: 0px;
}

.nav li:last-child a {
    -webkit-border-radius: 0px 0.2rem 0.2rem 0px;
    -moz-border-radius: 0px 0.2rem 0.2rem 0px;
    border-radius: 0px 0.2rem 0.2rem 0px;
    border-left: 0px;
}

.nav li.inactive a {
    color: #999;
}

.nav li.active a {
    color: #fff;
    background: #2697fc;
}

.menus {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;

}

.menus {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: 1rem 5%;
    font-size: 0.6rem;
}

.menus .menu {
    flex: 1;
}

.menus .menu a {
    display: block;
    border: 1px solid #3aa3f4;
    text-align: center;
    padding: 0.25rem 0px;
}

.menus .menu.active a {
    color: #fff;
    background: #3aa3f4;
}

.menus .menu:first-child a {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.menus .menu.inactive a {
    color: #8d8d8d;
}

.menus .menu:last-child a {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
